<div class="panel panel-success">
  <div class="panel-heading">
     <h3 style="display: inline;" data-translate="demonstrationOfHovercard">A demonstration of hovercard</h3>
  </div>

  

  <div class="panel-body">
    <!--Hovercard-->
    <div class="hc-preview" style="position: relative;display: inline;">
      

      <div style="left: -10px;margin-right: 80px;text-align: left;font-family: Sans-serif !important;color: #666 ;-moz-border-radius: 3px;
      -webkit-border-radius: 3px;border-radius: 3px;top: -10px;padding: 10px 10px 10px;-moz-box-shadow: 5px 5px 5px #888;-webkit-box-shadow: 5px 5px 5px #888;box-shadow: 5px 5px 5px #888;width: 250px; background: rgb(241, 248, 233);">
        
        <span style="font-style: inherit;color: rgb(255, 153, 0);background-color: rgba(255, 100, 50, 0);float: left;" data-translate="aire">Aire</span>
        
        <img class="mtwSpeak done" src="../assets/img/speak.png" style="float: right;cursor: pointer;">
        <img src="../assets/img/common.png" class="tags-common" style="height: 20px;top: 10;margin-right: 5px;border: 2px solid #FFF8E1;border-radius: 5px;float: right;">

        <br><br>

        <p data-translate="air">Air</p>
        <br>
        
        <img class="mtwMarkAsLearnt mtwHovercardBelow done" data-original="Open" src="../assets/img/learnt.png" style="cursor: pointer;">

        <img class="mtwSaveTranslation mtwHovercardBelow done" data-original="Open" src="../assets/img/save.png" style="cursor: pointer;">

        <img class="mtwBlacklistWord mtwHovercardBelow done" src="../assets/img/blacklist.png" style="cursor: pointer;">

        <img class="mtwWordInfo mtwHovercardBelow done" src="../assets/img/info.png" style="cursor: pointer;">

        <img class="mtwVisualHint mtwHovercardBelow done" src="../assets/img/visual.png" style="cursor: pointer;">
        
      </div>
    </div>
  </div>
  <br>
<div style="padding: 20px;">
  <div>
    
    <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/learnt.png" style="cursor: pointer;vertical-align: middle;">

    <span style="top: 5;"><strong style="font-weight: bold;">Learnt:</strong> this means you have learned the word. (You can find the learned words in 'Learnt words' or Learning section)</span>
  </div>

  <div style="margin-top: 10px;">
    
    <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/save.png" style="cursor: pointer;vertical-align: middle;">

    <span style="top: 5;"><strong style="font-weight: bold;">Save:</strong> the word will be saved in the 'Saved translations' of Learning section.</span>
  </div>

  <div style="margin-top: 10px;">
    
    <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/blacklist.png" style="cursor: pointer;vertical-align: middle;">

    <span style="top: 5;"><strong style="font-weight: bold;">Blacklist:</strong> the word will never be translated by MindTheWord on any websites. (You can find the blacklisted words in Blacklist section)</span>
  </div>

  <div style="margin-top: 10px;">
    
    <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/info.png" style="cursor: pointer;vertical-align: middle;">

    <span style="top: 5;"><strong style="font-weight: bold;">Information:</strong> this will direct you to Wiktionary, gives you a broader understanding of this word</span>
  </div>

  <div style="margin-top: 10px;">
    
    <img class="mtwMarkAsLearnt mtwHovercardBelow done" src="../assets/img/visual.png" style="cursor: pointer;vertical-align: middle;">

    <span style="top: 5;"><strong style="font-weight: bold;">Visual learning:</strong> this will direct you to google image search, gives you a better visual understanding of this word</span>
  </div>

</div>
</div>

